{% extends "base.html" %}

{% block content %}
<div class="form-container">
  <h2>Edit Post</h2>
  <form action="{{ url_for('blog.edit_post', post_id=post_id) }}" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ post.title }}" required />

    <label for="content">Content</label>
    <textarea name="content" id="content" rows="5" required>{{ post.content }}</textarea>

    <button type="submit" class="btn-submit">Update Post</button>
  </form>
</div>
<div class="form-container">
    {% if g.user_id == post.author_id or g.is_admin %}
    <a href="{{ url_for('blog.delete_post', post_id=post_id) }}" class="btn-action danger">Delete Post</a>
    {% endif %}

</div>
{% endblock %}