{% extends "base.html" %}

{% block content %}
<div class="form-container">
<form action="{{url_for('blog.posts')}}" method="POST">
<input type="text" id="query" name = "query" placeholder="Search posts...">
<button type="submit" class="btn-submit">Search</button>
</form>
</div>
<div class="posts-list">
  <h2>All Posts</h2>
  {% if posts %}
    <div class="post-grid">
      {% for post in posts %}
        <div class="post-card">
          <h3>{{ post.title }}</h3>
          <a href="{{ url_for('blog.post', post_id=post.id) }}" class="btn-read">Read More</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No posts available.</p>
  {% endif %}
</div>
{% endblock %}